@charset "UTF-8";
/* (768px) */
/* (1100px) */
/* (1300px) */
/* (1921px) */
/* ===== == = === Base Styles === = == ===== */
/* ===== == = === 20em (320px) === = == ===== */
/* ===== == = === 30em (480px) === = == ===== */
/* ===== == = === 37.5em (600px) === = == ===== */
/* ===== == = === 48em (768px) === = == ===== */
/* ===== == = === 56.25em (900px) === = == ===== */
/* ===== == = === 68.75em (1100px) === = == ===== */
/* ===== == = === 81.25em (1300px) === = == ===== */
/* line 1, ../sass/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
}

/* line 91, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 105, ../sass/_reset.scss */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 48em) {
  /* line 105, ../sass/_reset.scss */
  body {
    font-size: 90%;
  }
}
@media only screen and (max-width: 30em) {
  /* line 105, ../sass/_reset.scss */
  body {
    font-size: 75%;
  }
}

/* line 117, ../sass/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 122, ../sass/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 126, ../sass/_reset.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 130, ../sass/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 138, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 143, ../sass/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 147, ../sass/_reset.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 153, ../sass/_reset.scss */
.tabled {
  width: 100%;
  height: 100%;
  display: table;
}

/* line 159, ../sass/_reset.scss */
.tbl-row {
  display: table-row;
}

/* line 163, ../sass/_reset.scss */
.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  max-width: 100%;
}

/* line 170, ../sass/_reset.scss */
img {
  display: block;
}

/* line 174, ../sass/_reset.scss */
.right {
  float: right;
}

/* line 178, ../sass/_reset.scss */
.left {
  float: left;
}

/* line 181, ../sass/_reset.scss */
.aleft {
  text-align: left;
}

/* line 184, ../sass/_reset.scss */
.aright {
  text-align: right;
}

/* line 188, ../sass/_reset.scss */
.clear {
  clear: both;
}

/* line 192, ../sass/_reset.scss */
.hidden {
  display: block;
  overflow: hidden;
  height: 0;
  width: 0;
  visibility: hidden;
}

/* line 200, ../sass/_reset.scss */
.rel {
  position: relative;
}

/* line 204, ../sass/_reset.scss */
.seven {
  width: 75%;
}

/* line 208, ../sass/_reset.scss */
.six {
  width: 66.666%;
}

/* line 212, ../sass/_reset.scss */
.three {
  width: 33.333%;
}

/* line 216, ../sass/_reset.scss */
.two {
  width: 50%;
}
@media only screen and (max-width: 30em) {
  /* line 216, ../sass/_reset.scss */
  .two {
    width: 100%;
  }
}

/* line 222, ../sass/_reset.scss */
.centralise {
  margin: 0 auto 0.5em auto;
  text-align: center;
}

/* line 227, ../sass/_reset.scss */
.quart {
  width: 25%;
}

/* line 231, ../sass/_reset.scss */
.pad-left {
  padding-left: 1.33em;
}

/* line 234, ../sass/_reset.scss */
.pad-left-md {
  padding-left: 2.33em;
}

/* line 238, ../sass/_reset.scss */
.pad-right {
  padding-right: 1.33em;
}

/* line 242, ../sass/_reset.scss */
.pad-right-s {
  padding-right: 0.66em;
}

/* line 246, ../sass/_reset.scss */
.pad-right-lg {
  padding-right: 4.33em;
}

/* line 249, ../sass/_reset.scss */
.pad-right-xlg {
  padding-right: 8.33em;
}

/* line 253, ../sass/_reset.scss */
.pad-left-lg {
  padding-left: 4.33em;
}

/* line 256, ../sass/_reset.scss */
.pad-left-xlg {
  padding-left: 6.33em;
}
@media only screen and (max-width: 30em) {
  /* line 256, ../sass/_reset.scss */
  .pad-left-xlg {
    padding-left: 0;
  }
}

/* line 263, ../sass/_reset.scss */
.pad-left-s {
  padding-left: 0.66em;
}

/* line 267, ../sass/_reset.scss */
.pad-middle {
  padding: 0 0.66666em;
}

/* line 271, ../sass/_reset.scss */
.pad-bottom {
  margin-bottom: 4em;
}

/* line 276, ../sass/_reset.scss */
.hpad-bottom {
  margin-bottom: 2em;
}

/* line 280, ../sass/_reset.scss */
.pad-bottom-pad {
  padding-bottom: 1em;
}

/* line 283, ../sass/_reset.scss */
.dpad-bottom-pad {
  padding-bottom: 2em;
}

/* line 287, ../sass/_reset.scss */
.qpad-bottom {
  margin-bottom: 1em;
}

/* line 291, ../sass/_reset.scss */
.pad-bottom-lg {
  padding-bottom: 6em;
}

/* line 295, ../sass/_reset.scss */
.pad-bottom-xlg {
  padding-bottom: 8em;
}

/* line 299, ../sass/_reset.scss */
.pad-bottom-xxlg {
  padding-bottom: 16em;
}

/* line 302, ../sass/_reset.scss */
.pad-top {
  margin-top: 4em;
}

/* line 305, ../sass/_reset.scss */
.hpad-top {
  margin-top: 2em;
}

/* line 308, ../sass/_reset.scss */
.qpad-top {
  margin-top: 1em;
}

/* line 313, ../sass/_reset.scss */
.no-pad {
  padding: 0;
}

/* line 316, ../sass/_reset.scss */
.no-bord {
  border: 0;
}

/* line 320, ../sass/_reset.scss */
.marg-bot {
  margin-bottom: 1.33em;
}

/* line 324, ../sass/_reset.scss */
.marg-right {
  margin-right: 8.3em;
}
@media only screen and (max-width: 48em) {
  /* line 324, ../sass/_reset.scss */
  .marg-right {
    margin-right: 0;
  }
}

/* line 331, ../sass/_reset.scss */
.full-w {
  width: 100%;
}

/* line 335, ../sass/_reset.scss */
.full-h {
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
}

/* line 342, ../sass/_reset.scss */
.a-right {
  right: 0;
}

/* line 346, ../sass/_reset.scss */
.abs-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 354, ../sass/_reset.scss */
.bord-btm {
  border-bottom: 1px solid;
}

/* line 358, ../sass/_reset.scss */
.centered {
  margin: 0 auto;
}

/* line 362, ../sass/_reset.scss */
.area-schedule {
  padding-top: 0.5em;
}
/* line 364, ../sass/_reset.scss */
.area-schedule p {
  margin-top: 1em;
}
/* line 367, ../sass/_reset.scss */
.area-schedule h2 {
  border-bottom: 1px solid;
  display: inline-block;
}

/* line 374, ../sass/_reset.scss */
.no-margin-header h2 {
  margin-bottom: 0;
}
/* line 376, ../sass/_reset.scss */
.no-margin-header h2.orange {
  border-bottom: 0;
}

/* line 383, ../sass/_reset.scss */
.large-copy p {
  font-size: 1.4em;
}

/* line 387, ../sass/_reset.scss */
.foot-note {
  text-align: left;
  font-size: 0.75em;
}

/* line 392, ../sass/_reset.scss */
.alt-center {
  position: absolute;
  right: 50%;
  bottom: 50%;
  -ms-transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

@font-face {
  font-family: 'DidotLTStd-Italic';
  src: url("../fonts/DidotLTStd-Italic_gdi.eot");
  src: url("../fonts/DidotLTStd-Italic_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/DidotLTStd-Italic_gdi.woff") format("woff"), url("../fonts/DidotLTStd-Italic_gdi.ttf") format("truetype"), url("../fonts/DidotLTStd-Italic_gdi.svg#DidotLTStd-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
/* line 15, ../sass/_typography.scss */
body {
  color: #0f283c;
  font-family: "Futura W01 Book", "Futura Book", Futura, "Trebuchet MS", Arial, sans-serif;
}

/* line 19, ../sass/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1.4em;
}
@media only screen and (max-width: 30em) {
  /* line 19, ../sass/_typography.scss */
  h1 {
    font-size: 2em;
  }
}
/* line 25, ../sass/_typography.scss */
h1.large {
  font-size: 5em;
}
@media only screen and (min-width: 120.063em) {
  /* line 25, ../sass/_typography.scss */
  h1.large {
    font-size: 7em;
  }
}
@media only screen and (max-width: 30em) {
  /* line 25, ../sass/_typography.scss */
  h1.large {
    font-size: 4em;
  }
}

/* line 35, ../sass/_typography.scss */
h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  padding-bottom: 0.8em;
}

/* line 40, ../sass/_typography.scss */
h3 {
  font-size: 1.4em;
}

/* line 43, ../sass/_typography.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 46, ../sass/_typography.scss */
a.active {
  color: #f18c00;
}

/* line 51, ../sass/_typography.scss */
p {
  line-height: 1.3em;
  font-size: 1.1em;
}
@media only screen and (max-width: 30em) {
  /* line 51, ../sass/_typography.scss */
  p {
    font-size: 1.4em;
  }
}
/* line 57, ../sass/_typography.scss */
p.small {
  font-size: 0.8em;
}

/* line 62, ../sass/_typography.scss */
cite {
  font-size: 0.75em;
  padding-top: 0.7em;
  display: block;
}

/* line 67, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6, blockquote {
  font-family: 'Didot W01 Headline', 'Didot Headline', Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 100;
}

/* line 71, ../sass/_typography.scss */
blockquote {
  padding-left: 0.25em;
}

/* line 74, ../sass/_typography.scss */
.alt-font {
  font-family: "Futura W01 Book", "Futura Book", Futura, "Trebuchet MS", Arial, sans-serif;
}

/* line 78, ../sass/_typography.scss */
#hero .futura {
  font-family: "Futura W01 Book", "Futura Book", Futura, "Trebuchet MS", Arial, sans-serif;
}
/* line 81, ../sass/_typography.scss */
#hero .light {
  color: #FFFFFF;
}

/* line 85, ../sass/_typography.scss */
i {
  font-family: "DidotLTStd-Italic";
  font-style: italic;
}

/* line 89, ../sass/_typography.scss */
.bold {
  font-family: "Futura W01 Heavy";
}

/* line 92, ../sass/_typography.scss */
.blue {
  color: #0f283c;
  -webkit-transition: color 2s;
  -moz-transition: color 2s;
  transition: color 2s;
}

/* line 96, ../sass/_typography.scss */
.square:hover .blue {
  color: #FFFFFF;
}

/* line 99, ../sass/_typography.scss */
.orange {
  color: #f18c00;
}

/* line 102, ../sass/_typography.scss */
.underline {
  border-bottom: 1px solid;
  display: inline-block;
}

/* line 106, ../sass/_typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 109, ../sass/_typography.scss */
.blockquote,
blockquote {
  quotes: "“" "”";
  position: relative;
}

/* line 114, ../sass/_typography.scss */
.blockquote:before,
blockquote:before {
  content: open-quote;
  font-size: 1em;
  line-height: 0.1em;
  position: absolute;
  left: -10px;
  top: 14px;
}

/* line 123, ../sass/_typography.scss */
p.blockquote:before {
  left: -10px;
  top: 7px;
}

/* line 129, ../sass/_typography.scss */
blockquote.two:before,
blockquote.six:before {
  left: 10px;
  top: 24px;
}

/* line 134, ../sass/_typography.scss */
#main blockquote {
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 1.5em 25px;
  padding: 0.5em 25px;
}

/* line 142, ../sass/_typography.scss */
.space-plans p {
  font-size: 0.8em;
}

/* line 148, ../sass/_typography.scss */
blockquote p {
  display: inline;
}

/* line 153, ../sass/_typography.scss */
.right cite {
  color: #0f283c;
}

/* line 157, ../sass/_typography.scss */
#intro cite {
  font-size: 1em;
}

/* line 1, ../sass/_nav.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #FFFFFF;
  z-index: 10;
  border-bottom: 1px solid #efe9df;
}
/* line 10, ../sass/_nav.scss */
header nav {
  float: right;
  font-size: 1em;
}
@media only screen and (max-width: 48em) {
  /* line 13, ../sass/_nav.scss */
  header nav .main-menu {
    display: none;
  }
}
/* line 19, ../sass/_nav.scss */
header nav > ul > li {
  padding: 1.375em 1.4em;
}
/* line 21, ../sass/_nav.scss */
header nav > ul > li:last-child {
  padding-right: 0;
}
/* line 26, ../sass/_nav.scss */
header nav li {
  display: inline-block;
}
/* line 29, ../sass/_nav.scss */
header nav li.active a {
  color: #f18c00;
}
/* line 33, ../sass/_nav.scss */
header nav li.active li a {
  color: #0f283c;
}
/* line 37, ../sass/_nav.scss */
header nav li.active li.active a {
  color: #f18c00;
}
/* line 43, ../sass/_nav.scss */
header nav li ul {
  display: none;
  position: absolute;
  top: 70px;
  right: -20px;
}
/* line 48, ../sass/_nav.scss */
header nav li ul li {
  padding-left: 1.25em;
  padding-right: 1.25em;
  text-align: center;
}
/* line 52, ../sass/_nav.scss */
header nav li ul li a {
  color: #0f283c;
}
@media only screen and (max-width: 48em) {
  /* line 58, ../sass/_nav.scss */
  header nav .mobile-nav {
    display: block;
    height: auto;
    width: auto;
    visibility: visible;
  }
}
/* line 67, ../sass/_nav.scss */
header .logo {
  position: absolute;
  left: 0;
  top: 20px;
  width: 120px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
/* line 76, ../sass/_nav.scss */
header .logo img {
  width: 100%;
}
@media only screen and (max-width: 48em) {
  /* line 76, ../sass/_nav.scss */
  header .logo img {
    width: 63%;
  }
}

/* line 85, ../sass/_nav.scss */
.menu-btn {
  position: absolute;
  top: 18px;
  right: 0px;
}
/* line 89, ../sass/_nav.scss */
.menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}
/* line 101, ../sass/_nav.scss */
.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: black;
  z-index: 99;
}

/* line 111, ../sass/_nav.scss */
.responsive-menu {
  display: none;
}

/*
  Menu
*/
/* line 118, ../sass/_nav.scss */
nav#slide-menu {
  position: absolute;
  top: 60px;
  left: -300px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
@media only screen and (max-width: 30em) {
  /* line 118, ../sass/_nav.scss */
  nav#slide-menu {
    font-size: 1.2em;
  }
}
/* line 134, ../sass/_nav.scss */
nav#slide-menu > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
/* line 143, ../sass/_nav.scss */
nav#slide-menu > ul li {
  padding: 6px 0;
  cursor: pointer;
  display: block;
}
/* line 149, ../sass/_nav.scss */
nav#slide-menu li.main-menu-item {
  margin-bottom: 15px;
}
/* line 152, ../sass/_nav.scss */
nav#slide-menu ul.sub-menu {
  padding-top: 5px;
}
/* line 154, ../sass/_nav.scss */
nav#slide-menu ul.sub-menu li {
  padding-left: 10px;
}

/* line 161, ../sass/_nav.scss */
body.menu-active div.backtop,
body.menu-active footer,
body.menu-active div.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  left: 300px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/* line 177, ../sass/_nav.scss */
body.menu-active nav#slide-menu {
  left: 0px;
}

/* line 180, ../sass/_nav.scss */
body.menu-active header .logo {
  left: 170px;
}

/* line 184, ../sass/_nav.scss */
.expand {
  display: block !important;
}

/* line 188, ../sass/_nav.scss */
.sub-nav-bg {
  width: 100%;
  height: 36px;
  position: fixed;
  top: 60px;
  background: white;
  /*IE FALLBACK*/
  background: rgba(255, 255, 255, 0.75);
  z-index: 7;
}
@media only screen and (max-width: 48em) {
  /* line 188, ../sass/_nav.scss */
  .sub-nav-bg {
    display: none;
  }
}

/* line 1, ../sass/_container.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
}

/* line 8, ../sass/_container.scss */
.container {
  z-index: 5;
  padding-bottom: 4em;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
  left: 0;
}
@media only screen and (max-width: 48em) {
  /* line 8, ../sass/_container.scss */
  .container {
    margin-top: 60px;
  }
}

/* line 21, ../sass/_container.scss */
section {
  position: relative;
  background: #FFFFFF;
  padding: 6em 0 1px 0;
}
@media only screen and (max-width: 30em) {
  /* line 21, ../sass/_container.scss */
  section {
    padding-top: 3em;
  }
}

/* line 30, ../sass/_container.scss */
#hero {
  padding: 0;
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 57%;
}
/* line 36, ../sass/_container.scss */
#hero .text-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 48em) {
  /* line 36, ../sass/_container.scss */
  #hero .text-container {
    top: 0;
  }
}
/* line 51, ../sass/_container.scss */
#hero > img {
  width: 100%;
}
/* line 55, ../sass/_container.scss */
#hero .owl-carousel > img {
  position: fixed;
  width: 100%;
  transform: translateZ(0px);
}

/* line 64, ../sass/_container.scss */
#intro .intro-text {
  padding-top: 1em;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  border-left: 1px solid #D0D3D5;
  padding-left: 1em;
}
@media only screen and (max-width: 30em) {
  /* line 64, ../sass/_container.scss */
  #intro .intro-text {
    width: 90%;
  }
}
/* line 74, ../sass/_container.scss */
#intro .intro-text h2 {
  border: 0;
}

/* line 79, ../sass/_container.scss */
#specs-down,
#space-down,
#hero-downloads,
#hero-down {
  position: fixed;
}

/* line 86, ../sass/_container.scss */
.down {
  width: 100%;
  bottom: 2em;
  padding-bottom: 1em;
  cursor: pointer;
  z-index: 6;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.4s ease-in-out;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
/* line 95, ../sass/_container.scss */
.down:hover {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}
/* line 98, ../sass/_container.scss */
.down.fade {
  opacity: 0;
}
/* line 101, ../sass/_container.scss */
.down.hide {
  display: none;
}
/* line 104, ../sass/_container.scss */
.down img {
  width: 40px;
  margin: 0 auto;
}

/* line 111, ../sass/_container.scss */
#main h2 {
  display: table;
}
/* line 114, ../sass/_container.scss */
#main ol {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  font-size: 1.2em;
}
/* line 118, ../sass/_container.scss */
#main ol li {
  padding-bottom: 10px;
}
/* line 123, ../sass/_container.scss */
#main .no-margin-header h2 {
  margin-bottom: 8px;
  padding-bottom: 0px;
}
/* line 128, ../sass/_container.scss */
#main h3 {
  color: #f18c00;
  padding-top: 0.5em;
  text-align: left;
  float: left;
}
/* line 134, ../sass/_container.scss */
#main p {
  padding-right: 2em;
  padding-bottom: 1em;
  text-align: left;
}

/* line 140, ../sass/_container.scss */
h2 {
  border-bottom: 1px solid #5d88ab;
  padding-bottom: 0;
  line-height: 1.2em;
  margin-bottom: 1.3em;
  text-align: left;
}
/* line 146, ../sass/_container.scss */
h2.orange {
  color: #f18c00;
  border-bottom: 1px solid #F7D4A4;
}
@media only screen and (max-width: 30em) {
  /* line 146, ../sass/_container.scss */
  h2.orange {
    border: 0;
  }
}

/* line 158, ../sass/_container.scss */
.show-nav .owl-controls .owl-buttons div {
  text-indent: -10000px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 42px;
}
/* line 163, ../sass/_container.scss */
.show-nav .owl-controls .owl-buttons div.owl-next {
  background-image: url(/img/right.png);
  background-position: right;
}
/* line 167, ../sass/_container.scss */
.show-nav .owl-controls .owl-buttons div.owl-prev {
  background-image: url(/img/left.png);
}

/* line 175, ../sass/_container.scss */
.test {
  background: #0f283c;
  height: 200px;
  width: 100%;
}

/* line 181, ../sass/_container.scss */
.square {
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 2.5em;
  color: #FFFFFF;
  background-color: #FFFFFF;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: color 2s;
  -moz-transition: color 2s;
  transition: color 2s;
}
/* line 193, ../sass/_container.scss */
.square:hover {
  background-color: #0f283c;
}
/* line 195, ../sass/_container.scss */
.square:hover .bgimage {
  opacity: 0.2;
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
/* line 201, ../sass/_container.scss */
.square h2 {
  max-width: 60%;
  margin: 0 auto;
  font-size: 2em;
  padding-bottom: 0;
  border: 0;
  text-align: center;
}

/* line 212, ../sass/_container.scss */
.main-carousel-wrap .owl-pagination {
  bottom: 30px;
}
/* line 215, ../sass/_container.scss */
.main-carousel-wrap .owl-pagination .owl-page span {
  height: 14px;
  width: 14px;
}

/* line 223, ../sass/_container.scss */
.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in, opacity 0.7s linear;
  -moz-transition: -moz-transform 0.5s ease-in, opacity 0.7s linear;
  transition: transform 0.5s ease-in, opacity 0.7s linear;
}

/* line 239, ../sass/_container.scss */
.backtop {
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
}
/* line 244, ../sass/_container.scss */
.backtop:hover img {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
/* line 248, ../sass/_container.scss */
.backtop p {
  text-align: center;
  padding-bottom: 2em;
  font-size: 0.9em;
}
/* line 253, ../sass/_container.scss */
.backtop img {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  width: 40px;
  margin: 0 auto;
  padding-bottom: 1em;
}

/* line 265, ../sass/_container.scss */
.Home a.active {
  color: inherit;
}

/* line 271, ../sass/_container.scss */
.Gallery li ul.gallery {
  display: block;
}

/* line 279, ../sass/_container.scss */
.Building li ul.building {
  display: block;
}

/* line 286, ../sass/_container.scss */
.Location li ul.location {
  display: block;
}
/* line 293, ../sass/_container.scss */
.Location #main.local-map li {
  line-height: 1.5em;
}
/* line 296, ../sass/_container.scss */
.Location #main.local-map h3 {
  cursor: pointer;
  float: none;
  position: relative;
  z-index: 10;
  padding-bottom: 0.5em;
}
/* line 304, ../sass/_container.scss */
.Location .image {
  position: relative;
  height: 100%;
}
/* line 308, ../sass/_container.scss */
.Location .image .occupiers-hotspots,
.Location .image .culture-hotspots,
.Location .image .orange-hotspot {
  display: none;
  width: 100%;
  z-index: 1;
  height: 0;
  position: absolute;
  padding-bottom: 67.6%;
}
/* line 318, ../sass/_container.scss */
.Location .image .orange-hotspot {
  display: block;
}
/* line 321, ../sass/_container.scss */
.Location .image .logo-orange {
  left: 48%;
  top: 42%;
  position: absolute;
  z-index: 20;
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.6, M12=0, M21=0, M22=0.6, SizingMethod='auto expand')";
}
/* line 329, ../sass/_container.scss */
.Location .image .logo-orange:hover {
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.8, M12=0, M21=0, M22=0.8, SizingMethod='auto expand')";
}
/* line 336, ../sass/_container.scss */
.Location .image span {
  position: absolute;
  cursor: pointer;
  background: #0f283c;
  color: #FFFFFF;
  font-size: 8px;
  border-radius: 70px;
  width: 20px;
  height: 20px;
  line-height: 21px;
  text-align: center;
}
/* line 348, ../sass/_container.scss */
.Location .image span.hilight, .Location .image span:hover {
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.4, M12=0, M21=0, M22=1.4, SizingMethod='auto expand')";
}
/* line 360, ../sass/_container.scss */
.Location .image .occupiers-hotspots span {
  background: #f2e4b1;
  color: #333333;
}
/* line 362, ../sass/_container.scss */
.Location .occupiers li:hover, .Location .culture li:hover {
  font-weight: bold;
}
/* line 365, ../sass/_container.scss */
.Location .map {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 377, ../sass/_container.scss */
.Accomodation li ul.accomodation {
  display: block;
}
/* line 383, ../sass/_container.scss */
.Accomodation h3 {
  font-family: inherit;
  border-bottom: 1px solid #f18c00;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0.5em;
}
/* line 390, ../sass/_container.scss */
.Accomodation .core-office {
  left: 6.25em;
  bottom: 0;
}
/* line 394, ../sass/_container.scss */
.Accomodation .north {
  right: 5em;
  bottom: 0;
}
/* line 398, ../sass/_container.scss */
.Accomodation .carousel-copy {
  position: absolute;
  left: 6.25em;
}
/* line 404, ../sass/_container.scss */
.Accomodation section ul {
  margin-bottom: 2em;
}
/* line 406, ../sass/_container.scss */
.Accomodation section ul li {
  line-height: 1.2em;
}
/* line 409, ../sass/_container.scss */
.Accomodation section ul li.bold:before {
  content: '>';
  position: absolute;
  left: 1em;
}
@media only screen and (max-width: 30em) {
  /* line 421, ../sass/_container.scss */
  .Accomodation .space-plans .full-h p.pad-bottom {
    margin: 0;
  }
}
/* line 426, ../sass/_container.scss */
.Accomodation .space-plans .full-h p span {
  float: right;
}
/* line 432, ../sass/_container.scss */
.Accomodation .foot-note {
  position: absolute;
  bottom: -2em;
}
@media only screen and (max-width: 30em) {
  /* line 432, ../sass/_container.scss */
  .Accomodation .foot-note {
    bottom: 2em;
  }
}

/* line 441, ../sass/_container.scss */
#area-schedule .six.right {
  width: 60%;
}
/* line 444, ../sass/_container.scss */
#area-schedule .three.left {
  width: 40%;
}

/* line 451, ../sass/_container.scss */
.dining .rel .centralise .three {
  width: 34.333%;
}

/* line 458, ../sass/_container.scss */
.schedule > div {
  cursor: pointer;
}
/* line 461, ../sass/_container.scss */
.schedule .tbl-row {
  height: 48px;
}
/* line 463, ../sass/_container.scss */
.schedule .tbl-row.heading {
  cursor: auto;
}
/* line 467, ../sass/_container.scss */
.schedule .cell {
  text-align: right;
  width: 40%;
}
/* line 470, ../sass/_container.scss */
.schedule .cell:first-child {
  text-align: left;
  width: 20%;
}
/* line 476, ../sass/_container.scss */
.schedule .heading div {
  font-size: 1.2em;
}
/* line 478, ../sass/_container.scss */
.schedule .heading div span {
  border-bottom: 1px solid #f18c00;
}
/* line 483, ../sass/_container.scss */
.schedule.tabled {
  width: 75%;
}

/* line 488, ../sass/_container.scss */
.jumper li {
  cursor: pointer;
}

/* line 492, ../sass/_container.scss */
.core-office {
  position: absolute;
}
/* line 494, ../sass/_container.scss */
.core-office p {
  font-size: 1em;
  line-height: 0.75em;
  margin-bottom: 5px;
}
/* line 499, ../sass/_container.scss */
.core-office p.core span {
  background-color: #c2c4c3;
}
/* line 504, ../sass/_container.scss */
.core-office span {
  margin-right: 10px;
  height: 10px;
  width: 10px;
  background-color: #fee9d4;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  -webkit-backface-visibility: visible;
  float: left;
}

/* line 516, ../sass/_container.scss */
.north {
  position: absolute;
  right: 0;
  bottom: 3em;
  width: 48px;
}
/* line 521, ../sass/_container.scss */
.north img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 529, ../sass/_container.scss */
.video-container {
  cursor: pointer;
}
/* line 532, ../sass/_container.scss */
.video-container .vjs-default-skin .vjs-big-play-button {
  background: transparent;
  border: 1px solid #fff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: -9.5em;
  left: 45%;
}
/* line 540, ../sass/_container.scss */
.video-container .vjs-default-skin .vjs-big-play-button:before {
  font-size: 2em;
  line-height: 1.5em;
  text-shadow: none;
  left: -0.01em;
}

/* line 550, ../sass/_container.scss */
.transport .cell {
  height: 22px;
}
/* line 552, ../sass/_container.scss */
.transport .cell.head {
  height: 52px;
}
/* line 555, ../sass/_container.scss */
.transport .cell span {
  position: relative;
  bottom: 10px;
}

/* line 561, ../sass/_container.scss */
.video-size {
  width: 100%;
  height: 481px;
}

/* line 565, ../sass/_container.scss */
i.icon {
  width: 47px;
  height: 35px;
  display: inline-block;
  background-repeat: no-repeat;
}
/* line 570, ../sass/_container.scss */
i.icon.underground {
  background-image: url(/img/icon/underground.png);
}
/* line 574, ../sass/_container.scss */
i.icon.crossrail {
  background-image: url(/img/icon/crossrail.png);
}

/* line 579, ../sass/_container.scss */
.contact h2 {
  display: inline;
}
@media only screen and (max-width: 30em) {
  /* line 583, ../sass/_container.scss */
  .contact #hero > img {
    position: static;
  }
}
/* line 589, ../sass/_container.scss */
.contact #hero .text-container a {
  display: block;
  color: #FFFFFF;
  line-height: 1.4em;
}
@media only screen and (max-width: 30em) {
  /* line 589, ../sass/_container.scss */
  .contact #hero .text-container a {
    margin-bottom: 1.5em;
    color: #0f283c;
  }
}
/* line 598, ../sass/_container.scss */
.contact #hero .text-container h1 {
  margin-bottom: 0.75em;
}
@media only screen and (max-width: 30em) {
  /* line 598, ../sass/_container.scss */
  .contact #hero .text-container h1 {
    margin-bottom: 0;
    color: #FFFFFF;
  }
}
/* line 606, ../sass/_container.scss */
.contact #hero .text-container h2 {
  text-align: center;
  display: inline;
  border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 30em) {
  /* line 614, ../sass/_container.scss */
  .contact .row .two {
    padding-bottom: 0.5em;
  }
  /* line 616, ../sass/_container.scss */
  .contact .row .two a {
    display: block;
  }
  /* line 620, ../sass/_container.scss */
  .contact .row.title.pad-bottom {
    padding-bottom: 0;
  }
}
/* line 624, ../sass/_container.scss */
.contact .row.details {
  padding-bottom: 1em;
}
/* line 627, ../sass/_container.scss */
.contact .square {
  padding-bottom: 110%;
}
/* line 630, ../sass/_container.scss */
.contact #contact {
  padding: 0;
}
/* line 633, ../sass/_container.scss */
.contact #downloads {
  margin-bottom: 10em;
  padding-bottom: 5px;
}

@media only screen and (max-width: 48em) {
  /* line 642, ../sass/_container.scss */
  .rel > div {
    width: 100%;
    position: static;
    padding: 0;
  }
}
@media only screen and (max-width: 48em) {
  /* line 649, ../sass/_container.scss */
  .rel > div:first-child {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 48em) {
  /* line 655, ../sass/_container.scss */
  .rel > div blockquote {
    width: 100%;
  }
}

@media only screen and (max-width: 30em) {
  /* line 663, ../sass/_container.scss */
  #similar .three {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 30em) {
  /* line 672, ../sass/_container.scss */
  #downloads .two {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 30em) {
  /* line 681, ../sass/_container.scss */
  img.hidden {
    display: block;
    height: auto;
    width: 100%;
    visibility: visible;
  }
}
@media only screen and (max-width: 30em) {
  /* line 689, ../sass/_container.scss */
  img.desktop {
    display: none;
  }
}

/* line 700, ../sass/_container.scss */
footer p {
  font-size: 0.9em;
  padding: 1em 0;
}
/* line 704, ../sass/_container.scss */
footer ul {
  font-size: 0.9em;
}
/* line 706, ../sass/_container.scss */
footer ul li {
  display: inline-block;
  padding: 1em 0 2em 2em;
}
@media only screen and (max-width: 48em) {
  /* line 706, ../sass/_container.scss */
  footer ul li {
    display: block;
    padding: 0.2em;
  }
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
/* line 7, ../sass/_owltheme.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 17, ../sass/_owltheme.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

/* line 24, ../sass/_owltheme.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 30, ../sass/_owltheme.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 36, ../sass/_owltheme.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 44, ../sass/_owltheme.scss */
.owl-carousel .owl-item {
  float: left;
}

/* line 48, ../sass/_owltheme.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 53, ../sass/_owltheme.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
/* line 63, ../sass/_owltheme.scss */
.grabbing {
  cursor: url(https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/grabbing.png) 8 8, move;
}

/* fix */
/* line 68, ../sass/_owltheme.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/* line 83, ../sass/_owltheme.scss */
.owl-theme .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 90, ../sass/_owltheme.scss */
.owl-prev {
  position: absolute;
  left: 1em;
  top: 50%;
  margin-top: -43px;
  width: 50px;
}
/* line 96, ../sass/_owltheme.scss */
.owl-prev img {
  width: 100%;
}

/* line 101, ../sass/_owltheme.scss */
.owl-next {
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -43px;
  width: 50px;
}
/* line 107, ../sass/_owltheme.scss */
.owl-next img {
  width: 100%;
}

/* line 112, ../sass/_owltheme.scss */
.owl-pagination {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  width: 100%;
  bottom: 80px;
  z-index: 1;
}
@media only screen and (max-width: 48em) {
  /* line 112, ../sass/_owltheme.scss */
  .owl-pagination {
    bottom: 10px;
  }
}
/* line 122, ../sass/_owltheme.scss */
.owl-pagination .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 126, ../sass/_owltheme.scss */
.owl-pagination .owl-page span {
  margin-right: 6px;
  margin-left: 6px;
  position: relative;
  height: 10px;
  width: 10px;
  background-color: #FFFFFF;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity, 200ms, ease;
  -moz-transition: opacity, 200ms, ease;
  transition: opacity, 200ms, ease;
}
/* line 141, ../sass/_owltheme.scss */
.owl-pagination .owl-page.active span, .owl-pagination .owl-page:hover span {
  background: #f18c00;
}

/* line 1, ../sass/_media.scss */
#mobcontacts {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 48em) {
  /* line 21, ../sass/_media.scss */
  .rel .three {
    width: 100%;
  }

  /* line 25, ../sass/_media.scss */
  .rel .six {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  /* line 32, ../sass/_media.scss */
  .full-h {
    position: relative;
    float: left;
  }
}
@media screen and (max-width: 1180px) {
  /* line 41, ../sass/_media.scss */
  .contact #hero .text-container h1 {
    margin: 0;
  }

  /* line 45, ../sass/_media.scss */
  .contactblock {
    display: none;
  }

  /* line 49, ../sass/_media.scss */
  #mobcontacts {
    display: block;
  }
}
