.wrapper {
            width: 90%;
            margin: 0 auto;
            max-width: 1400px;
            position: relative;
}

.container {
            z-index: 5;
            padding-bottom: 4em;
            -moz-transition: all 300ms;
            -webkit-transition: all 300ms;
            transition: all 300ms;
            position: relative;
            left:0;
            @media #{$tablets} {
                  margin-top:60px;
                  }
}

section {
            position: relative;
            background: $white;
            padding: 5em 0 1px 0;
            @media #{ $smartphones } {
                  padding-top: 3em;
                  }
}

#hero {
            padding: 0;
            width: 100%;
            position: relative;
            height: 0;
            padding-bottom: 57%;
            .text-container {
                        position: absolute;
                        top: 60px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        text-align: center;
                        color: #fff;
                        width:100%;
                        max-width:100%;
                        @media #{$tablets}
                              {
                                          top:0;
                              }
            }
            &>img {
                        width: 100%;
            }
            .owl-carousel {
                        &>img {
                                    position: fixed;
                                    width: 100%;
                                    transform: translateZ(0px);
                        }
            }
}

#intro {
            .intro-text {
                        padding-top: 1em;
                        margin: 0 auto;
                        width: 80%;
                        max-width: 600px;
                        border-left: 1px solid $lblue;
                        padding-left: 1em;
                         @media #{$smartphones} {
                              width: 90%;
                        }
                        h2 {
                              border:0;
                        }
            }
}
#space-down,
#hero-downloads,
#hero-down {
            position: fixed;
}

.down {
            width: 100%;
            bottom: 2em;
            padding-bottom: 1em;
            cursor: pointer;
            z-index: 6;
            opacity: 1;
            @include transition(transform 0.2s ease-in-out, opacity 0.4s ease-in-out);
            @include transform(translateY(0px));
            &:hover {
                        @include transform(translateY(5px));
            }
            &.fade {
                        opacity: 0;
            }
            &.hide {
                        display: none;
            }
            img {
                        width: 40px;
                        margin: 0 auto;
            }
}

#main {
      h2 {
            display: table;
      }
            ol {
                        list-style-type: decimal-leading-zero;
                        list-style-position: inside;
                        font-size: 1.2em;
                        li {
                                    padding-bottom: 10px;
                        }
            }
            .no-margin-header {
                        h2 {
                                    margin-bottom: 8px;
                                    padding-bottom: 0px;
                        }
            }
            h3 {
                        color: $orange;
                        padding-top: 0.5em;
                        text-align: left;
                          float: left;
            }
            p {
                        padding-right: 2em;
                        padding-bottom: 1em;
                        text-align: left;
            }
}
h2 {
            border-bottom: 1px solid $mblue;
            padding-bottom: 0;
            line-height: 1.2em;
            margin-bottom: 1.3em;
            text-align: left;
            &.orange {
                        color: $orange;
                        border-bottom: 1px solid $lorange;
                        @media #{$smartphones} {
                              border:0;
                        }
            }
}

.show-nav {
            .owl-controls {
                        .owl-buttons {
                                    div {
                                                text-indent: -10000px;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                height: 42px;
                                                &.owl-next {
                                                            background-image: url(/img/right.png);
                                                            background-position: right;
                                                }
                                                &.owl-prev {
                                                            background-image: url(/img/left.png);
                                                }
                                    }
                        }
            }
}

.test {
            background: $blue;
            height: 200px;
            width: 100%;
}

.square {
            padding-bottom: 100%;
            height: 0;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            margin-bottom: 2.5em;
            color: $white;
            background-color: $white;
            @include transform(translateZ(0px));
            @include backface-visibility(visible);
            &:hover {
                         @include transition( color 2s);
                         background-color: $blue;
                        .bgimage {
                                    // @include transform(scale(1.5));
                                    opacity: 0.2;
                                    @include transition(opacity 0.4s linear);
                        }
            }
            h2 {
                  max-width: 60%;
                  margin: 0 auto;
                  font-size: 2em;
                  padding-bottom: 0;
                  border: 0;
                  text-align: center;
            }
}

.main-carousel-wrap {
            .owl-pagination {
                        bottom: 30px;
                        .owl-page {
                                    span {
                                                height: 14px;
                                                width: 14px;
                                    }
                        }
            }
}

.bgimage {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            @include transform(translateZ(0px));
            @include backface-visibility(visible);
            @include transform(scale(1));
            @include transition(transform 0.5s ease-in, opacity 0.7s linear);
}

.backtop {
            width: 30%;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
                        img {
                                    @include transform(translateY(-5px));
                        }
            }
            p {
                        text-align: center;
                        padding-bottom: 2em;
                        font-size: 0.9em;
            }
            img {
                        @include transform(translateY(0px));
                        @include transition(transform 0.2s ease-in-out);
                        width: 40px;
                        margin: 0 auto;
                        padding-bottom: 1em;
            }
}
/////////// /////////// /////////// /////////// /////////// 
/////////// P A G E - S P E C I F I C //////////////
/////////// /////////// /////////// /////////// /////////// 
.Home {
            a.active {
              color: inherit;
      }
}
.Building {
            li {
                        ul.building {
                                    display: block;
                        }
            }
}
.Location {
            li {
                        ul.location {
                                    display: block;
                                    li {
                                    }
                        }
            }
            #main.local-map {
                  li {
                        line-height:1.5em;
                  }
                  h3 {
                        cursor:pointer;
                        float: none;
                        position: relative;
                          z-index: 10;
                  }
            }
            .image {
                  position: relative;
                  height: 100%;

                  .occupiers-hotspots,
                  .culture-hotspots,
                  .orange-hotspot {
                        display: none;
                        width: 100%;
                        z-index: 1;
                        height: 0;
                        position: absolute;
                        padding-bottom: 67.6%;
                  }
                  .orange-hotspot {
                        display: block;
                  }
                  .logo-orange {
                        left:48%; top:42%; position:absolute; z-index:20;
                        -moz-transform:    scale(0.6);
                        -o-transform:      scale(0.6);
                        -webkit-transform: scale(0.6);
                        transform:         scale(0.6);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.6, M12=0, M21=0, M22=0.6, SizingMethod='auto expand')";
                  }
                  .logo-orange:hover { 
                        -moz-transform:    scale(0.8);
                        -o-transform:      scale(0.8);
                        -webkit-transform: scale(0.8);
                        transform:         scale(0.8);
                        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.8, M12=0, M21=0, M22=0.8, SizingMethod='auto expand')";
                  }
                  span {

                        position: absolute;
                        cursor: pointer;
                        background: $blue;
                        color: $white;
                        font-size: 8px;
                        border-radius: 70px;
                        width: 20px;
                        height: 20px;
                        line-height: 21px;

                        &.hilight,
                        &:hover {

                              -moz-transform:    scale(1.4);
                              -o-transform:      scale(1.4);
                              -webkit-transform: scale(1.4);
                              transform:         scale(1.4);
                              -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.4, M12=0, M21=0, M22=1.4, SizingMethod='auto expand')";

                        }
                  }
            }
            .image .occupiers-hotspots span { background: #f2e4b1; color:$black; }

            .occupiers li:hover, .culture li:hover { font-weight: bold; }


            .map {
                  height: auto;
                  width: 100%;
                  position: absolute;
                  top:0;
                  bottom: 0;
                  left: 0;
                  right: 0;
            }
}
.Accomodation {
            li {
                        ul.accomodation {
                                    display: block;
                                    li {
                                    }
                        }
            }
            h3 {
                  font-family: inherit;
                    border-bottom: 1px solid #f18c00;
                     display: inline-block;
                    font-size: 1em;
                    margin-bottom: 0.5em;
            }
            .core-office {
                  left:1em;
                  bottom:0;
            }
            .north {
                  right:1em;
                  bottom:0;
            }
            section {
                  ul {
                        margin-bottom:2em;
                        li {
                              line-height:1.2em;
                              &.bold {
                                    &:before {
                                          content:'>';
                                          position: absolute;
                                            left: -1em;
                                    }
                              }
                        }
                  }
            }
            .space-plans  {
                  .full-h {
                        p {
                              &.pad-bottom {
                                    @media #{$smartphones} {
                                          margin:0;
                                    }
                              }
                              span {
                                    float: right;
                              }
                        }
                  }
            }
            .foot-note {
                  position: absolute;
                  bottom: -2em;
                  @media #{ $smartphones } {
                        bottom: 2em;
                  }
            }
}
.schedule {
            .tbl-row {
                        height: 48px;
            }
            .cell {
                        text-align: center;
            }
            .heading {
                        div {
                                    font-size: 1.2em;
                                    span {
                                                border-bottom: 1px solid $orange;
                                    }
                        }
            }
            &.tabled {
                        width: 90%;
            }
}
.jumper {
      li {
            cursor: pointer;
      }
}
.core-office {
      position: absolute;
      margin-bottom:1em;
      p {
            line-height: 0.75em;
            margin-bottom:5px;
            &.core {
                  span {
                  background-color: $grey;
                  }
            }
      }
      span {      
                  margin-right:10px;
                  height: 10px;
                  width: 10px;
                  background-color: $orange;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  display: block;
                  -webkit-backface-visibility: visible;
                  float: left;
      }
}
.north {
      position: absolute;
      right: 0;
      bottom: 3em;
      width: 55px;
}
.video-container {
      cursor:pointer;
}
.video-size {
      width:100%;
      height: 481px;
}
.contact {
      h2 {
            display: inline;
      }
      #hero {
            >img {
                  @media #{ $smartphones } {
                        position: static;
                  }
            }
            .text-container {
                        a {
                              display: block;
                              color:$white;
                              line-height: 1.4em;
                              @media #{ $smartphones } {
                                    margin-bottom: 1.5em;
                                    color:$blue;
                              }
                        }
                        h1 {
                              margin-bottom: 0.75em;
                              @media #{ $smartphones } {
                                    margin-bottom: 0;
                                    color:$white;

                              }
                        }
                        h2 {
                              text-align:center;
                              display: inline;
                        }
            }
      }
      @media #{ $smartphones } {
            .row .two {
                  padding-bottom: 0.5em;
                  a {
                        display: block;
                  }
            }
            .row.title.pad-bottom {
                  padding-bottom: 0;
            }
      }
      .row.details {
            padding-bottom: 1em;
      }
      .square {
            padding-bottom:110%;
      }
      #contact {
            padding:0;
      }
      #downloads {
            margin-bottom:10em;
            padding-bottom:5px;
      }
}

/////////// /////////// /////////// /////////// /////////// 
///////////// R E S P O N S I V E ////////// ////////////
/////////// /////////// /////////// /////////// /////////// 
.rel > div {
            @media #{ $tablets }
            {
                        width: 100%;
                        position: static;
                          padding: 0;
            }
            &:first-child {
                  @media #{ $tablets }
                  {
                              margin-bottom:15px;
                  }
            }
            blockquote {
                  @media #{ $tablets }
                  {
                        width: 100%;
                  }
            }
}
#similar {
      .three {
            //width:33%;
                  @media #{ $smartphones } {
                              width:100%;
                              padding:0;
                  }
            }
}
#downloads {
      .two {
                  @media #{ $smartphones }
                  {
                              width:100%;
                              padding:0;
                  }
            }
}
img {
      &.hidden {
            @media #{ $smartphones } {
                  display: block;
               height: auto; 
              width: 100%; 
               visibility: visible;      
            }
      }
      &.desktop {
            @media #{ $smartphones } {
                  display: none;
            }
      }
}
/////////// /////////// /////////// /////////// ///////
///// //////// F O O T E R ////////// ////////////
/////////// /////////// /////////// /////////// ///// 

footer {
            p {
                        font-size: 0.9em;
                        padding: 1em 0;
            }
            ul {
                        font-size: 0.9em;
                        li {
                                    display: inline-block;
                                    padding: 1em 0 1em 2em;
                                    @media #{ $tablets }
                                    {
                                                display: block;
                                                  padding: 0.2em;
                                    }
                        }
            }
}
