@mixin colorTransition() {
	@-webkit-keyframes color_change {
	  from { background-color: $blue; }
	  to { background-color: $white; }
	}
	@-moz-keyframes color_change {
	  from { background-color: $blue; }
	  to { background-color: $white; }
	}
	@-ms-keyframes color_change {
	  from { background-color: $blue; }
	  to { background-color: $white; }
	}
	@-o-keyframes color_change {
	  from { background-color: $blue; }
	  to { background-color: $white; }
	}
	@keyframes color_change {
	  from { background-color: $blue; }
	  to { background-color: $white; }
	}
	//animation: color_change 1s;
}
