$main-font: 'Futura W01 Book', 'Futura Book', Futura, "Trebuchet MS", Arial, sans-serif;
@font-face {
	font-family:'DidotLTStd-Italic';
	src: url('../fonts/DidotLTStd-Italic_gdi.eot');
	src: url('../fonts/DidotLTStd-Italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DidotLTStd-Italic_gdi.woff') format('woff'),
		url('../fonts/DidotLTStd-Italic_gdi.ttf') format('truetype'),
		url('../fonts/DidotLTStd-Italic_gdi.svg#DidotLTStd-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

body {
	color: $blue;
	font-family: $main-font;
}
h1 {
	font-size: 3em;
	line-height: 1.4em;
		@media #{ $smartphones } {
			font-size: 2em;
		}
	&.large {
		font-size: 5em;
	              @media #{ $xx-widescreen } {
			font-size: 7em;
	              }
	              @media #{ $smartphones } {
			font-size: 4em;
	              }
	}
}
h2 {
	font-size: 1.8em;
	line-height: 1.2em;
	padding-bottom: 0.8em;
}
h3 {
	font-size: 1.4em;
}
a {
  color:inherit;
  text-decoration:none;
  &.active {
  	color:$orange;
  }
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	              @media #{ $smartphones } {
		font-size: 1.4em;
	              }
	              &.small {
	              	font-size: 0.8em;
	              }
}

cite {
	font-size:0.75em;
	padding-top:0.7em;
	display: block;
}
h1,h2,h3,h4,h5,h6, blockquote {
	font-family: 'Didot W01 Headline', 'Didot Headline', Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
	font-weight: 100;
}
blockquote {
	  padding-left: 0.25em;
}
.alt-font {
	font-family:$main-font;
}
#hero {
	.futura {
		font-family: $main-font;	
	}
	.light {
		color: $white;
	}
}
i {
	font-family: "DidotLTStd-Italic";
	font-style: italic;
}
.bold {
	font-family:"Futura W01 Heavy";
}
.blue {
	color:$blue;
	 @include transition( color 2s);
}
.square:hover .blue {
	color:$white;
}
.orange {
            color: $orange;
}
.underline {
	border-bottom:1px solid;
	display:inline-block;
}
.uppercase {
	text-transform:uppercase;
}
.blockquote,
blockquote {
            quotes: "\201C""\201D";
            position: relative;
}
.blockquote:before,
blockquote:before {
  content: open-quote;
  font-size: 1em;
  line-height: 0.1em;
  position: absolute;
  left: -5px;
  top: 14px;
}
p.blockquote:before{
	left: -6px;
	  top: 7px;
}
blockquote.two,
blockquote.six {
	&:before {
		left: 14px;
		  top: 24px;
	}
}
#main blockquote {
      font-size: 1.5em;
      line-height: 1.3em;
      margin: 1.5em 25px;
      padding: 0.5em 25px;
}

.space-plans {
	p {
	font-size:0.8em;
	}		
}
blockquote 
	{
	p {
            display: inline;
        }
}
.right {
	cite {
		color:$blue;
	}
}
#intro cite {
	font-size:1em;
}